<h1 class="text-success text-center">Contador</h1>

<div
  [ngStyle]="{background: count <= 5 ? 'red' : 'green'}"
  [ngClass]="{custom: count > 5}">

  <h2 class="text-center">Contador: {{count}}</h2>
</div>

<!-- Diretivas Estruturais -->

<h2 *ngIf="count > 7; else menor">O contador passou de 7</h2>

<ng-template #menor >
  <h2> O contador é menor que 7</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-3">
  <li
      class="list-group-item"
      *ngSwitchCase="3">3
  </li>
  <li
    class="list-group-item"
    *ngSwitchCase="5">5
  </li>
  <li
    class="list-group-item"
    *ngSwitchCase="7">7
  </li>
  <li
    class="list-group-item"
    *ngSwitchCase="9">9
  </li>
  <li
    class="list-group-item"
    *ngSwitchDefault> Valor default
  </li>
</ul>

<ul  class="list-group mx-auto my-3 col-3">
  <li
    class="list-group-item"
    *ngFor="let pessoa of pessoas"> O nome da pessoa é: {{pessoa.nome}} {{pessoa.sobrenome}}
  </li>
</ul>

<!--recebemos esta info da lógica por meio do {{ }}-->
<div class="col-4 mx-auto my-3">
  <!--aqui temos uma diretiva que nós criamos-->
  <h5 appMarcaTexto corFundo="brown" corTexto="black">{{ data }}</h5>
</div>

<!--vamos passar uma informação do tamplate para a lógica por meio do clicou-->
<div class="col-4 mx-auto my-3">
  <button class="btn btn-success col-4 mx-auto" (click)="clicou('teste')">Clique</button>
</div>

<!--two way databiniding - dado bi-direcional-->
<div class="col-4 mx-auto">
  <input
  type="text" class="form-control"
  placeholder="Digite algo"
  [(ngModel)]="text">
  <h4>Saída: {{ text }} </h4>
</div>
