<div class="card w-100 my-5">
    <div class="card-body">
      <h1 class="card-title text-center">Lista de Usuários</h1> 
      <form>
        <div class="row my-4">
            <div class="form-floting">
                <input type="text" class="form-control" id="nome" placeholder="Digite a porra do deu nome">
                <label for="nome">Nome</label>
            </div>
            <div class="form-floting">
                <input type="text" class="form-control" id="sobrenome" placeholder="Digite a porra do deu sobrenome">
                <label for="sobrenome">Sobrtenome</label>
            </div>
        </div>
        <div class="row my-4">
            <div class="form-floting">
                <input type="text" class="form-control" id="idade " placeholder="Digite a porra da sua idade">
                <label for="idade">Idade</label>
            </div>
            <div class="form-floting">
                <input type="text" class="form-control" id="profissao" placeholder="Digite a  merda da sua Profissão">
                <label for="profissao">Profissão</label>
            </div>
        </div>
        <div class="row my-4">
            <div class="form-group col-12 mt-4">
                <button type="button" class="btn btn-outline-danger float-start">Cancelar</button>
                <button type="button" class="btn btn-outline-success float-end">Enviar</button>
            </div>
        </div>
      </form>
    </div>
</div>
